.resource-wpr {
  background-image: url("/domains/domainsbackground.png");
  background-size: cover;
}

.resourcebody {
  padding: 50px 5vw;
  max-width: 1400px;
  margin: 0 auto;
}

.resourceheading {
  font-weight: normal;
  text-align: center;
  font-size: 80px;
  margin-top: 20px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .resourceheading {
    font-size: 40px;
  }
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: #007fff;
}

.rcard {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  max-width: 18rem;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background: white;
  transition-duration: 200ms;
}

.rcard:hover {
  transform: scale(1.05);
}

.rcard>div:nth-child(1) {
  padding: 20px;
}
.rcard>div:nth-child(1)>img {
  width: 100%;
}

.rcard>div:nth-child(2) {
  flex: 1;
  padding: 10px;
  background-image: url("/team/Effect-3.png");
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rcard>div>h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-wrap: wrap;
}
