.hero {
  background-image: url(/hero/background.png);
  position: relative;
}
.svg1{
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
}
.svg2{
  z-index: -5;
  position: absolute;
  top: 0;
  right: 0;
  width: 20vw;
}
.svg3{
  z-index: -5;
  position: absolute;
  bottom: 20vh;
  left: 0;
  width: 15vw;
  height: 15vw;
  transform: rotate(-23deg) translateX(-60%);
  background: var(--color-yellow);
}
.svg4{
  z-index: -5;
  position: absolute;
  bottom: 20vh;
  left: 0;
  width: 15vw;
  height: 15vw;
  transform: rotate(-23deg) translateX(-60%) scale(1.2);
  border: 5px solid lightgray;
}
.svg5{
  z-index: -5;
  position: absolute;
  bottom: 20vh;
  right: 0;
  width: 15vw;
  height: 15vw;
  transform: rotate(-23deg) translateX(60%);
  background: var(--color-green);
  border-radius: 200px;
}
.svg6{
  z-index: -5;
  position: absolute;
  bottom: 20vh;
  right: 0;
  width: 15vw;
  height: 15vw;
  transform: rotate(-23deg) translateX(60%) scale(1.2);
  border: 5px solid lightgray;
  border-radius: 200px;
}

.hero-wpr {
  max-width: 1400px;
  padding: 50px 5vw;
  margin: 0 auto;
}

.hero-flex {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.hero-flex>div>img {
  max-width: 600px;
  width: 50vw;
}
@media(max-width:600px){
.hero-flex>div>img {
  width: 100%;
}
.hero-flex {
  flex-direction: column-reverse;
  align-items: start;
}

}

.hero-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-title>h1 {
  font-weight: bold;
  color: #bbbbbb;
  font-size: 50px;
}

.hero-title>h1:nth-child(1)>span {
  color: var(--color-red);
}

.hero-title>h1:nth-child(2)>span {
  color: var(--color-green);
}

.hero-title>h1:nth-child(3)>span {
  color: var(--color-blue);
}

.hero-title>h1:nth-child(4)>span {
  color: var(--color-yellow);
}

.hero-title>h1:nth-child(5) {
  font-size: 45px;
  margin-top: 20px;
  color: #5696c0;
  font-weight: semil-bold;
}

.hero-para {
  max-width: 700px;
  margin: 0 auto;
  color: gray;
  text-align: center;
  line-height: 26px;
}
