nav {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  overflow-x: hidden;
}

.nav-flex {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-flex>div:nth-child(2) {
  display: flex;
  gap: 20px;
  color: #486284;
  align-items: center;
  justify-content: center;
}
.nav-flex>div:nth-child(2)>a, .nav-flex>div:nth-child(2)>Link{
  color: #486284;
}

.nav-flex>div>a>img {
  max-height: 50px;
  margin-right: 5px;
}

.nav-logo {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: wrap;
}

.nav-logo>span {
  text-wrap: wrap;
}

.nav-bt1 {
  padding: 5px 15px;
  border-radius: 50px;
  border: #486284 1px solid;
  text-decoration: none;
  color: #486284;
  margin-right: 10px;
  text-wrap: nowrap;
}

.nav-bt2 {
  padding: 5px 15px;
  border-radius: 50px;
  border: #486284 1px solid;
  background: #009e58;
  color: white;
  text-wrap: nowrap;
}

.bars {
  color: black;
  display: none;
}

.links {
  display: none;
}

@media (max-width: 850px) {
  .bars {
    display: block;
    position: relative;
    z-index: 200;
  }

  .nav-flex>div:nth-child(2) {
    position: fixed;
    top: 0;
    width: 70vw;
    height: 100vh;
    z-index: 100;
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition-duration: 500ms;
  }

  .nav-flex>div:nth-child(3) {
    display: none;
  }
  .bars{
    display: inline-block;
  }
  .links {
    display: inline-block;
    color: #486284;
  }
}

.nav-open {
  right: -110%;
}

.nav-close {
  right: 0;
}

