.blog-wpr {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 5vw;
  font-family: "Inter", sans-serif;
}

.blogs {
  position: relative;
}

.blogs>div>h2 {
  font-weight: 700;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  margin-top: 150px;
}

.blogs>div>h3 {
  font-size: 25px;
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
  color: var(--color-blue);
}

.blogs>div>h2>span:nth-child(1) {
  color: var(--color-green);
}

.blogs>div>h2>span:nth-child(2) {
  color: var(--color-red);
}

.blogs>div>h2>span:nth-child(4) {
  color: var(--color-yellow);
}

.blog-star {
  position: absolute;
  right: 0;
  width: clamp(80px, 8vw, 200px);
  z-index: -1;
  top: 0;
}

.blog-svg1 {
  z-index: -5;
  position: absolute;
  top: 150px;
  left: 0;
  width: clamp(100px, 15vw, 300px);
  height: clamp(100px, 15vw, 300px);
  transform: rotate(-23deg) translateX(-60%);
  background: var(--color-yellow);
}

.blog-svg2 {
  z-index: -5;
  position: absolute;
  top: 150px;
  left: 0;
  width: clamp(100px, 15vw, 300px);
  height: clamp(100px, 15vw, 300px);
  transform: rotate(-23deg) translateX(-55%) scale(1.2);
  border: 5px solid lightgray;
}

.blog-svg3 {
  z-index: -5;
  position: absolute;
  top: 100px;
  left: 20vw;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 5px solid lightgray;
}

.blog-svg4 {
  z-index: -5;
  position: absolute;
  top: 250px;
  right: 20vw;
  width: 40px;
  height: 40px;
  border: 5px solid lightgray;
  transform: rotate(30deg);
}

.blog-flex1 {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.blog-flex2 {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-direction: column;
}

.blog-flex2>div {
  width: 100%;
}

.blog-flex3>div:nth-child(2) {
  display: flex;
  align-items: end;
}

.blog-flex3>div:nth-child(1) {
  max-width: 300px;
}

.blog-flex3 {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.blog-card {
  padding: 70px 40px;
  border-radius: 40px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.blog-card>h4 {
  color: var(--color-blue);
}

.bcard1 {
  max-width: 300px;
  margin-top: 80px;
}

.bcard2,
.bcard3 {
  min-width: 220px;
}

@media (max-width: 1000px) {
  .blog-flex1 {
    flex-direction: column;
  }

  .bcard1 {
    max-width: 1000px;
    margin-top: 0;
  }

  .blog-flex3>div {
    flex: 1;
  }

  .blog-flex3>div:nth-child(2)>div {
    flex: 1;
  }

  .blog-flex3>div:nth-child(1) {
    max-width: 1000px;
  }
}

@media (max-width: 550px) {
  .blog-flex3 {
    flex-wrap: wrap;
  }
}

.more-btn {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.more-btn>a {
  padding: 7px 14px;
  border-radius: 50px;
  background: lightgray;
  color: gray !important;
  font-weight: 700;
}
